@use "var";

.shows{
    padding: 2vw 5.6vw;
    min-height: 50vw;
    padding-top: 80px;

    &__list{
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        &__cast{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &__watch_now{
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 768px){
            grid-template-columns: 1fr 1fr;
        }

        &--is-active{
            display: grid;
            justify-self: center;
        }

        &__item{
            img{
                max-width: 100%;
                border-radius: 4px;
            }

            &__link{
                display: flex;
                text-decoration: none;

                img{
                    height: 100%;
                    margin-top: 6px;
                }

                div{
                    margin-left: 10px;
                }
            }
        }
    }

    &__tabs{
        display: flex;
        justify-content: center;

        @media (max-width: 768px){
            white-space: nowrap;
            overflow-x: scroll;
            padding-left: 20px;
        }

        &__button{
            color: var.$corTextoSecundario;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;
            transition: border-bottom ease .3s;

            &--is-active{
                border-color: var.$corTextoSecundario;
            }

            @media (max-width: 768px){
                font-size: 16px;
            }
        }
    }
}