@use "var";

.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var.$corDeFundo;

    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px){
            padding: 0 12px 0 20px;
        }
    }

    &__logo{
        max-width: 200px;
        max-height: min-content;
        margin-top: 6px;
        margin-left: -10px;
    }

    &__links{
        display: flex;

        &__item{
            list-style: none;
            margin: 5px;
        }
    }

    .button{
        height: 50px;

        @media (max-width: 768px){
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}
