@use "var";

.header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var.$corDeFundo;

    &__container{
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        &__menu{
            display: none;

            &--is-active{
                display: flex;
                justify-content: center;
            }
        }

        @media (max-width: 768px){
            padding: 0 12px 0 20px;
        }
    }

    &__logo{
        max-width: 200px;
        max-height: min-content;
        margin-top: 6px;
        margin-left: -10px;
    }

    &__button{
        display: none;
        align-items: center;
        justify-content: center;
        height: 50px;
        font-size: 16px;
        color: var.$corTextoSecundario;
        background-color: var.$corDeFundoBotaoSecundario;
        border-radius: 4px;
        text-decoration: none;
        padding: 8px 14px;
        margin: 5px;
        letter-spacing: 1px;
        border: 1px solid var.$corDeFundoBotaoSecundario;

        &:hover{
            cursor: pointer;
            background-color: lighten(var.$corDeFundoBotaoSecundario, 3%);
        }

        @media (max-width: 768px){
            display: flex;
            height: 40px;
        }
    }

    &__links{
        display: flex;

        &__menu{
            display: none;
        }
        @media (max-width: 768px){
            display: none;
            
            &--is-active{
                display: flex;
            }
        }

        &__item{
            list-style: none;
            margin: 5px;
        }
    }

    .button{
        height: 50px;

        @media (max-width: 768px){
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}
